src/n8n/Job-Hunter-n8n-workflow.json
{
  "name": "Job Hunter",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5000,
        512
      ],
      "id": "f9c1be1e-4d5f-4b12-9b3d-2bd2a61f7f1e"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblcY5odzvocdPMc6/viw30RRl4XRp2ogXg?blocks=hide",
          "mode": "url"
        },
        "additionalOptions": {
          "filterByFormula": "Status='Captured'",
          "sort": [
            {
              "field": "Created",
              "direction": "asc"
            }
          ]
        }
      },
      "name": "Fetch Jobs To Process",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -4608,
        512
      ],
      "id": "8042d907-857b-4794-baa7-024e66d1dfed",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Extracts key job details from the Airtable record.\n// Also stores jobId globally so downstream branches (after IFs) can access it.\n\nconst job = $input.item.json.fields;\nconst jobId = $input.item.json.id;\n\n// Store globally for later branches that don't have this node in-path\n$flow.set('jobId', jobId);\n$flow.set('jobCompany', job['Company Name']);\n$flow.set('jobTitle', job['Job Title']);\n\nreturn {\n  jobId,\n  jobTitle: job['Job Title'],\n  companyName: job['Company Name'],\n  jobUrl: job['Job URL'],\n  jobDescription: job['Job Description'],\n  companyPage: job['Company Page'],\n  source: job['Source'],\n  status: job['Status']\n};"
      },
      "name": "Set Up Job Scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4400,
        512
      ],
      "id": "edc78263-d405-44d4-9718-3a3f831d6133"
    },
    {
      "parameters": {
        "jsCode": "// Description: Builds the research prompt using a template and job data.\n// GitHub Reference: /prompts/asset-generation/10-Research-Company.md\n\nconst jobData = $input.item.json;\nconst template = `\nPlease conduct a detailed research brief on the company and role provided. Structure your response into the following 5 sections:\n\n### 1. Company Overview\n- Mission, vision, product/service, and business model.\n- Recent news, funding rounds, strategic shifts (last 6-12 months).\n- Key metrics: Estimated revenue, headcount, growth trends.\n\n### 2. Role Analysis\n- Deconstruct the job description: what is the core problem this role is hired to solve?\n- Identify the top 3-5 required skills and experiences.\n- Infer the key performance indicators (KPIs) for success in this role.\n\n### 3. Market Context\n- Identify 2-3 key competitors and their positioning relative to the company.\n- What are the major industry trends or challenges affecting this company?\n\n### 4. Hiring Manager Intel (if possible)\n- Identify the likely hiring manager or team lead for this role.\n- Briefly summarize their background and recent activity (e.g., LinkedIn posts, articles).\n\n### 5. Strategic Positioning\n- Synthesize the above points into a strategic narrative.\n- What is the company's primary growth constraint or opportunity that this role addresses?\n- Formulate a hypothesis for why they are hiring for this role *now*.\n\n**Job Details:**\n- Company: ${jobData.companyName}\n- Job Title: ${jobData.jobTitle}\n- Job Description: ${jobData.jobDescription}\n- Company Page: ${jobData.companyPage || 'N/A'}\n- Job URL: ${jobData.jobUrl}\n`;\n\nreturn {\n  prompt: template\n};"
      },
      "name": "Build Research Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4208,
        512
      ],
      "id": "eb8a97f9-db78-46c0-a346-cc3f3cc8e36b"
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "options": {}
      },
      "name": "Call Perplexity for Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -4000,
        512
      ],
      "id": "2719a71f-cc78-40e2-8650-99acdfe1577a"
    },
    {
      "parameters": {
        "jsCode": "// Description: Scores the quality of the generated research based on a rubric.\n// GitHub References: /prompts/reference/Reference-Alen-Ascension-Specificity.md, /prompts/reference/Reference-Hormozi-Value-Equation.md\n\nconst content = $input.item.json.choices[0].message.content;\nlet score = 0;\nlet analysis = [];\n\n// Specificity (5+ unique details): +15\nconst details = (content.match(/\\$[0-9]+[mkb]?|headcount|[0-9]+%| funding/gi) || []).length;\nconst specificity_detected = details >= 5;\nif (specificity_detected) {\n  score += 15;\n  analysis.push(\"+15 for Specificity\");\n}\n\n// Diagnosis (identifies growth constraint): +15\nconst diagnosis_found = /problem is|constraint is|bottleneck is/i.test(content);\nif (diagnosis_found) {\n  score += 15;\n  analysis.push(\"+15 for Diagnosis\");\n}\n\n// Competitive (2+ competitors mentioned): +10\nconst competitors = (content.match(/competitor(s)?|vs\\.|rival(s)?/gi) || []).length;\nif (competitors >= 2) {\n  score += 10;\n  analysis.push(\"+10 for Competitive Analysis\");\n}\n\n// Quantified (revenue/funding/headcount): +10\nconst quantified = /revenue|funding|headcount/i.test(content);\nif (quantified) {\n  score += 10;\n  analysis.push(\"+10 for Quantification\");\n}\n\n// Recent (<6 months): +5\nconst recent = /last quarter|last 6 months|recent news/i.test(content);\nif (recent) {\n  score += 5;\n  analysis.push(\"+5 for Recency\");\n}\n\n// Strategic Angle (clear hiring need): +5\nconst angle = /hiring because|need for this role/i.test(content);\nif (angle) {\n  score += 5;\n  analysis.push(\"+5 for Strategic Angle\");\n}\n\nreturn { score, analysis: analysis.join(', '), content, specificity_detected, diagnosis_found };"
      },
      "name": "Score Research Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3808,
        512
      ],
      "id": "8acc011b-80ca-48f0-95a7-aac333a1ffa8"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": null,
              "value2": 40
            }
          ]
        }
      },
      "name": "Decide: Research Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3600,
        512
      ],
      "id": "4cd60f8b-cb8f-4535-96eb-80887adc613d"
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "options": {}
      },
      "name": "Call Perplexity for Research (Retry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3408,
        400
      ],
      "id": "9dce1253-8a94-4b36-a556-84f627fb43d4"
    },
    {
      "parameters": {
        "jsCode": "// Description: Compares research scores and selects the best one.\n\nconst initialResult = $items(\"Score Research Quality\")[0].json;\nconst retryResult = $items(\"Call Perplexity for Research (Retry)\").length > 0 ? $items(\"Score Research Quality\", 1)[0].json : null;\n\nif (retryResult && retryResult.score > initialResult.score) {\n  return {\n    finalScore: retryResult.score,\n    finalContent: retryResult.content,\n    retried: true\n  };\n} else {\n  return {\n    finalScore: initialResult.score,\n    finalContent: initialResult.content,\n    retried: !!retryResult\n  };\n}"
      },
      "name": "Pick Best Research Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3200,
        512
      ],
      "id": "026d437c-637e-45ee-a867-48904fd64f7e"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tbldzpMjDDpinj2rl/viwdGSvldCWDZRYN6?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Create Research Brief Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -3008,
        512
      ],
      "id": "245964a6-5a79-4dd2-9709-f918c02cc97b",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "appHFrk9vapCY39F1"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblArXJ9YS3P4DHsp/viwhMtM3pB8gia8iK?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Log: Research Completed Event",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -2800,
        512
      ],
      "id": "ac5e0301-9338-4658-a0f7-1024209734c5",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Builds the 90-Day Plan prompt, integrating multiple sources.\n// GitHub References: /prompts/asset-generation/20-90-Day-Plan.md, /docs/Matt-Dimock-Professional-Profile.md, Hormozi/Alen frameworks\n\nconst jobData = $items(\"Set Up Job Scope\")[0].json;\nconst researchData = $items(\"Create Research Brief Record\")[0].json.fields;\nconst mattProfile = `... (abbreviated ~300 words from /docs/Matt-Dimock-Professional-Profile.md) ...`;\nconst planTemplate = `... (content of /prompts/asset-generation/20-90-Day-Plan.md) ...`;\n\nconst prompt = `Based on the research and job description, create a strategic 90-day plan for the role of ${jobData.jobTitle} at ${jobData.companyName}. \n\n**CRITICAL INSTRUCTIONS:**\n1.  **Lead with Diagnosis:** Start with a 150+ word analysis of the company's specific growth constraint this role solves. Use insights from the research brief.\n2.  **Reference My Wins:** Integrate my past achievements (from my profile below) as proof points. Example: 'Similar to my work at CompanyX where I reduced CAC by 30%...' \n3.  **Quantify Everything:** Use the Hormozi Value Equation for every initiative: (Expected Outcome - Current State) = Value. Be specific.\n4.  **Structure:** Follow this structure: Diagnose (Days 0-15) -> Design (Days 15-30) -> Execute (Days 30-60) -> Scale (Days 60-90).\n\n**Research Brief:**\n${researchData['Company Overview']}\n${researchData['Role Analysis']}\n\n**My Professional Profile:**\n${mattProfile}\n\n**Job Description:**\n${jobData.jobDescription}\n\n${planTemplate}`;\n\nreturn { prompt };"
      },
      "name": "Build 90-Day Plan Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2608,
        512
      ],
      "id": "4b51fe52-a344-454c-a002-5c029f2afd43"
    },
    {
      "parameters": {
        "model": "o3-mini-2025-01-31",
        "prompt": "{{$node['Build 90-Day Plan Prompt'].json.prompt}}",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for 90-Day Plan",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -2400,
        512
      ],
      "id": "a6905f0a-0fa8-40ec-b1d5-bf6d9b766701",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Scores the quality of the 90-Day Plan.\n\nconst content = $input.item.json.choices[0].message.content;\nlet score = 0;\nlet analysis = [];\n\n// Diagnosis (150+ words): +15\nconst diagnosisSection = content.split('Design')[0];\nif (diagnosisSection && diagnosisSection.split(' ').length > 150) {\n  score += 15;\n  analysis.push('+15 for Diagnosis');\n}\n\n// Quick Wins: +10\nif (/month 1|quick win/i.test(content) && /\\$[0-9]/.test(content)) {\n  score += 10;\n  analysis.push('+10 for Quick Wins');\n}\n\n// Quantified: +15\nif ((content.match(/=/g) || []).length >= 3 && (content.match(/\\$/g) || []).length >= 3) {\n    score += 15;\n    analysis.push('+15 for Quantification');\n}\n\n// Proof (2+ Matt achievements): +10\nif ((content.match(/my work at|previously I/gi) || []).length >= 2) {\n    score += 10;\n    analysis.push('+10 for Proof');\n}\n\n// Structure: +5\nif (/Diagnose|Design|Execute|Scale/i.test(content)) {\n  score += 5;\n  analysis.push('+5 for Structure');\n}\n\n// Specificity: +5\n// This is a proxy, would need company name from previous step\nconst companyName = $items(\"Set Up Job Scope\")[0].json.companyName;\nif (content.includes(companyName)) {\n    score += 5;\n    analysis.push('+5 for Specificity');\n}\n\nreturn { score, analysis: analysis.join(', '), content };"
      },
      "name": "Score 90-Day Plan Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2208,
        512
      ],
      "id": "448ea01b-31a4-4e72-be69-77fef286a4a3"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$node['Score 90-Day Plan Quality'].json.score}}",
              "value2": 45
            }
          ]
        }
      },
      "name": "Decide: Plan Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2000,
        512
      ],
      "id": "9b2700cb-f913-4d17-840b-8c36c6095d94"
    },
    {
      "parameters": {
        "model": "o3-mini-2025-01-31",
        "prompt": "{{$node['Build 90-Day Plan Prompt'].json.prompt}}\\n\\n---\\n**Instruction:** This plan scored {{$node['Score 90-Day Plan Quality'].json.score}} because it's missing specificity/quantification. Regenerate with these improvements: **DIAGNOSIS SECTION:** Lead with 200+ words articulating their specific growth constraint. **MONTHLY BREAKDOWN:** Include exact weekly activities + specific expected business outcomes ($ impact). **QUANTIFICATION:** Every initiative must use the Hormozi Value Equation. Example: 'CAC reduction from $650 -> $450 = $200 savings per customer'. **PROOF:** Reference 2+ of my achievements with exact numbers from my profile. **TERMINOLOGY:** Use their exact metrics/language from the research brief. **RISKS:** Acknowledge 3 risks with mitigations.",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Plan (Retry)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1808,
        400
      ],
      "id": "0ba261b0-742a-4806-92cb-50d600554edb",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Compares plan scores and selects the best one.\n\nconst initialResult = $items(\"Score 90-Day Plan Quality\")[0].json;\nconst retryResult = $items(\"Call OpenAI for Plan (Retry)\").length > 0 ? $items(\"Score 90-Day Plan Quality\", 1)[0].json : null;\n\nif (retryResult && retryResult.score > initialResult.score) {\n  return {\n    finalScore: retryResult.score,\n    finalContent: retryResult.content,\n    retried: true,\n    planContent: retryResult.content\n  };\n} else {\n  return {\n    finalScore: initialResult.score,\n    finalContent: initialResult.content,\n    retried: !!retryResult,\n    planContent: initialResult.content\n  };\n}"
      },
      "name": "Pick Best Plan Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1600,
        512
      ],
      "id": "be735284-0c86-4388-898f-a9659497e34b"
    },
    {
      "parameters": {
        "fileContent": "{{$node['Pick Best Plan Score'].json.finalContent}}",
        "name": "02 - {{companyName}} - {{jobTitle}} - 90-Day Plan.md",
        "options": {}
      },
      "name": "Upload Plan to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -1408,
        512
      ],
      "id": "f92a6f94-ddd4-49a5-831c-dafe1a887ea4",
      "credentials": {
        "googleApi": {
          "id": "PtMjNZkPLZjldH25",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Stores the final plan content in the execution context for downstream use.\n\nconst planContent = $input.item.json.planContent;\n$flow.set('planContent', planContent); // Storing globally for this execution\nreturn {\n  planContent: planContent,\n  stored: true\n};"
      },
      "name": "Store Plan in Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1200,
        512
      ],
      "id": "cc0faeb5-99a1-481a-9799-a2f6c64da438"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblgx4gQNUOKuGEMV/viwabbeYSd2KCO8e4?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Create Plan Asset Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -1008,
        512
      ],
      "id": "c66b2172-6673-4b81-a55c-1aae445f1830",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Branch A: Resume\n// GitHub Ref: /prompts/asset-generation/30-Resume-Tailor.md\nconst jobData = $items('Set Up Job Scope')[0].json;\nconst researchData = $items('Create Research Brief Record')[0].json.fields;\nconst planContent = $flow.get('planContent');\nconst mattProfile = '...';\n\nconst prompt = `Generate 4-6 ATS-optimized resume bullet points for the role of ${jobData.jobTitle}. Bullets must:\n1. Be in 'Action Verb + Skill + Metric' format.\n2. Directly map to requirements in the job description.\n3. Incorporate my quantified achievements from my profile.\n4. Align with company terminology from the research brief.\n\nJob Desc: ${jobData.jobDescription}\nResearch: ${researchData['Role Analysis']}\nMy Profile: ${mattProfile}`;\n\nreturn { prompt };"
      },
      "name": "Build Resume Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "366b0848-c7ee-41a3-a3d8-47bce5d1fc46"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Resume Prompt'].json.prompt}}",
        "options": {
          "maxTokens": 800
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Resume",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ],
      "id": "73ba179f-168f-43bc-8fce-761ba3192dba",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let score = 0; const content = $input.item.json.choices[0].message.content;\nif ((content.match(/\\* /g) || []).length >= 4) score += 15; // ATS format\nif ((content.match(/\\b(Led|Managed|Drove|Increased|Reduced)\\b/gi) || []).length >= 4) score += 10; // Action verbs\nif ((content.match(/%|\\$/g) || []).length >= 4) score += 15; // Quantified\nif (content.includes($items('Set Up Job Scope')[0].json.companyName)) score += 10; // Job-specific\nreturn { score, content };"
      },
      "name": "Score Resume Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "id": "483c8f48-678d-43a7-8385-43e17dc8b49b"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$node['Score Resume Quality'].json.score}}",
              "value2": 40
            }
          ]
        }
      },
      "name": "Decide: Resume Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "1fc1d89a-c0fb-4f79-825b-b7cf0f6e2a86"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Resume Prompt'].json.prompt}}\\n\\nRetry: The last attempt was not quantified enough. Ensure every bullet has a metric.",
        "options": {
          "maxTokens": 800
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Resume (Retry)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1f8031ab-2c00-446a-9eea-d4d84e929867",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r1 = $items('Score Resume Quality')[0].json; const r2 = $items('Call OpenAI for Resume (Retry)').length > 0 ? $items('Score Resume Quality', 1)[0].json : null; \nif (r2 && r2.score > r1.score) return { finalScore: r2.score, finalContent: r2.content, retried: true }; \nreturn { finalScore: r1.score, finalContent: r1.content, retried: !!r2 };"
      },
      "name": "Pick Best Resume Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        208,
        112
      ],
      "id": "5b428c4c-ce7f-405e-85b7-b775f1002f8f"
    },
    {
      "parameters": {
        "fileContent": "{{$node['Pick Best Resume Score'].json.finalContent}}",
        "name": "=03 - {{companyName}} - {{jobTitle}} - Resume Tailored.md",
        "options": {}
      },
      "name": "Upload Resume to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        400,
        112
      ],
      "id": "0b179f0c-7e79-40ad-a0ca-827644ece59b",
      "credentials": {
        "googleApi": {
          "id": "PtMjNZkPLZjldH25",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblgx4gQNUOKuGEMV/viwabbeYSd2KCO8e4?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Create Resume Asset Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        608,
        112
      ],
      "id": "d2e33436-ad86-4820-9ed4-9bf3e70ecc29",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Branch B: Cover Letter\n// GitHub Ref: /prompts/asset-generation/40-Cover-Letter.md, /prompts/reference/Reference-Rory-Psychologic.md\nconst jobData = $items('Set Up Job Scope')[0].json;\nconst researchData = $items('Create Research Brief Record')[0].json.fields;\nconst planContent = $flow.get('planContent');\n\nconst prompt = `Generate a 300-400 word cover letter following the Problem -> Proof -> Solution arc.\n- **Problem:** Articulate THEIR growth constraint in 100+ words, using the research brief.\n- **Proof:** Cite one of my comparable wins with an exact metric.\n- **Solution:** Preview 1-2 initiatives from my 90-day plan.\n\nResearch: ${researchData['Strategic Positioning']}\n90-Day Plan Preview: ${planContent.substring(0, 500)}\nMy Profile: ...`\n\nreturn { prompt };"
      },
      "name": "Build Cover Letter Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        304
      ],
      "id": "a390e5a2-d1b9-4a23-9f75-3bd522b9622a"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Cover Letter Prompt'].json.prompt}}",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Cover Letter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -608,
        304
      ],
      "id": "d02a410d-0d22-407d-a06f-8d6f1a393759",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let score = 0; const content = $input.item.json.choices[0].message.content;\nif (content.split(' ')[0].length < 10) score += 10; // Hook specificity\nif (content.includes('problem')) score += 10; // Problem depth\nif (content.includes('previously')) score += 10; // Proof\nif (content.includes('plan')) score += 10; // Solution\nif (content.split(' ').length > 300 && content.split(' ').length < 400) score += 5; // Length\nreturn { score, content };"
      },
      "name": "Score Cover Letter Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        304
      ],
      "id": "3f0b75dd-3686-4f9d-8eab-55f1fd96b58f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$node['Score Cover Letter Quality'].json.score}}",
              "value2": 45
            }
          ]
        }
      },
      "name": "Decide: Cover Letter Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        304
      ],
      "id": "3faf1652-9cc0-4eda-a95b-f58beadca296"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Cover Letter Prompt'].json.prompt}}\\n\\nRetry: The Problem section was weak. Deepen the diagnosis of their constraint.",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Cover Letter (Retry)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "9b889211-6d62-4979-806f-9d03ff0e3e40",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r1 = $items('Score Cover Letter Quality')[0].json; const r2 = $items('Call OpenAI for Cover Letter (Retry)').length > 0 ? $items('Score Cover Letter Quality', 1)[0].json : null; \nif (r2 && r2.score > r1.score) return { finalScore: r2.score, finalContent: r2.content, retried: true }; \nreturn { finalScore: r1.score, finalContent: r1.content, retried: !!r2 };"
      },
      "name": "Pick Best Cover Letter Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "4ceabc29-c5ee-4dca-925b-f18316f77aa7"
    },
    {
      "parameters": {
        "fileContent": "{{$node['Pick Best Cover Letter Score'].json.finalContent}}",
        "name": "=04 - {{companyName}} - {{jobTitle}} - Cover Letter.md",
        "options": {}
      },
      "name": "Upload Cover Letter to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        400,
        304
      ],
      "id": "10467154-1e13-400d-ac83-7907cf6a5b54",
      "credentials": {
        "googleApi": {
          "id": "PtMjNZkPLZjldH25",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblgx4gQNUOKuGEMV/viwabbeYSd2KCO8e4?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Create Cover Letter Asset Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        608,
        304
      ],
      "id": "c66fb766-5ed3-491f-ae44-bd9c166633e3",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Branch C: Interview Prep\n// GitHub Ref: /prompts/asset-generation/50-Interview-Prep.md\nconst prompt = `Generate interview prep materials:\n- 3 STAR stories mirroring the company's challenges.\n- 3 potential objections and my responses.\n- 5 strategic questions for me to ask them.`;\nreturn { prompt };"
      },
      "name": "Build Interview Prep Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        512
      ],
      "id": "6125fddf-f815-4a99-b93e-c9e2cc3b9323"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Interview Prep Prompt'].json.prompt}}",
        "options": {
          "maxTokens": 1500
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Interview Prep",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -608,
        512
      ],
      "id": "6ee5af3d-00de-4992-ac91-a2b9aa1fd1db",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let score = 0; const content = $input.item.json.choices[0].message.content;\nif ((content.match(/Situation|Task|Action|Result/gi) || []).length >= 3) score += 15;\nif ((content.match(/Objection|Response/gi) || []).length >= 3) score += 15;\nif ((content.match(/\\?/g) || []).length >= 5) score += 10;\nif (content.includes('my experience')) score += 10;\nreturn { score, content };"
      },
      "name": "Score Interview Prep Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        512
      ],
      "id": "aa4a64c2-5569-4a5c-983a-4c960ab4edf9"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$node['Score Interview Prep Quality'].json.score}}",
              "value2": 40
            }
          ]
        }
      },
      "name": "Decide: Interview Prep Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        512
      ],
      "id": "5b56110f-0371-4f09-8b6b-4184719fde36"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Interview Prep Prompt'].json.prompt}}\\n\\nRetry: Make the STAR stories more specific to the company's diagnosed problem.",
        "options": {},
        "requestOptions": {}
      },
      "name": "Call OpenAI for Interview Prep (Retry)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "ffe4b292-1237-422e-afe9-f49f9eb9dbeb",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r1 = $items('Score Interview Prep Quality')[0].json; const r2 = $items('Call OpenAI for Interview Prep (Retry)').length > 0 ? $items('Score Interview Prep Quality', 1)[0].json : null; \nif (r2 && r2.score > r1.score) return { finalScore: r2.score, finalContent: r2.content }; \nreturn { finalScore: r1.score, finalContent: r1.content };"
      },
      "name": "Pick Best Interview Prep Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        208,
        512
      ],
      "id": "4fafca54-425c-4dec-9c49-830382bb52a2"
    },
    {
      "parameters": {
        "fileContent": "{{$node['Pick Best Interview Prep Score'].json.finalContent}}",
        "name": "=05 - {{companyName}} - {{jobTitle}} - Interview Prep.md",
        "options": {}
      },
      "name": "Upload Interview Prep to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        400,
        512
      ],
      "id": "0c363db5-0e32-4984-a713-80890b5f6d01",
      "credentials": {
        "googleApi": {
          "id": "PtMjNZkPLZjldH25",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "create",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblgx4gQNUOKuGEMV/viwabbeYSd2KCO8e4?blocks=hide",
          "mode": "url"
        }
      },
      "name": "Create Interview Prep Asset Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        608,
        512
      ],
      "id": "9b49c53d-d314-4d42-914b-db9604d8ac16",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Branch D: Outreach Message\n// GitHub Ref: /prompts/asset-generation/60-Outreach-Message.md\nconst prompt = `Generate a 3-sentence, 40-60 word outreach message:\n- **Hook:** Start with a specific insight about them.\n- **Proof:** Briefly state my credibility.\n- **CTA:** End with a question showing I've thought about their problem.`;\nreturn { prompt };"
      },
      "name": "Build Outreach Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        704
      ],
      "id": "86cb9d39-886b-46cc-8073-55447245aa37"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Outreach Prompt'].json.prompt}}",
        "options": {
          "maxTokens": 150
        },
        "requestOptions": {}
      },
      "name": "Call OpenAI for Outreach",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -608,
        704
      ],
      "id": "27ee1e71-a0d5-4645-860c-17f3aa9d000d",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let score = 0; const content = $input.item.json.choices[0].message.content;\nif (content.split(' ')[0].length < 10) score += 15;\nif (content.includes('experience')) score += 15;\nif (content.includes('?')) score += 10;\nif (content.split(' ').length > 40 && content.split(' ').length < 60) score += 10;\nreturn { score, content };"
      },
      "name": "Score Outreach Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        704
      ],
      "id": "6f525f0e-4dca-4ea0-9d4a-b32cd023c665"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$node['Score Outreach Quality'].json.score}}",
              "value2": 35
            }
          ]
        }
      },
      "name": "Decide: Outreach Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        704
      ],
      "id": "a2618c3c-5ea8-47b5-809a-31b13b4b2a66"
    },
    {
      "parameters": {
        "model": "o4-mini-2025-04-16",
        "prompt": "{{$node['Build Outreach Prompt'].json.prompt}}\\n\\nRetry: Make the hook more specific and the CTA more urgent.",
        "options": {},
        "requestOptions": {}
      },
      "name": "Call OpenAI for Outreach (Retry)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "23ac608f-5fcf-4b82-bd4b-21f37f27d4fa",
      "credentials": {
        "openAiApi": {
          "id": "f2WDaLaE9MFhKRuc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r1 = $items('Score Outreach Quality')[0].json; const r2 = $items('Call OpenAI for Outreach (Retry)').length > 0 ? $items('Score Outreach Quality', 1)[0].json : null; \nif (r2 && r2.score > r1.score) return { finalScore: r2.score, finalContent: r2.content }; \nreturn { finalScore: r1.score, finalContent: r1.content };"
      },
      "name": "Pick Best Outreach Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        208,
        704
      ],
      "id": "f7ec1ae0-5dac-4122-b84e-41c66e072e54"
    },
    {
      "parameters": {
        "fileContent": "{{$node['Pick Best Outreach Score'].json.finalContent}}",
        "name": "=06 - {{companyName}} - {{jobTitle}} - Outreach Message.md",
        "options": {}
      },
      "name": "Upload Outreach to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        400,
        704
      ],
      "id": "4248672c-77ea-4c29-8538-8e1bb55b7407",
      "credentials": {
        "googleApi": {
          "id": "PtMjNZkPLZjldH25",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblgx4gQNUOKuGEMV/viwabbeYSd2KCO8e4?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Create Outreach Asset Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        608,
        704
      ],
      "id": "2b8c758b-1743-4e67-b343-9a7d7503168e",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblcY5odzvocdPMc6/viw30RRl4XRp2ogXg?blocks=hide",
          "mode": "url"
        },
        "id": "={{ $flow.get('jobId') }}",
        "updateAllFields": false,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Status",
              "fieldValue": "Ready to Apply"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Job Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1200,
        512
      ],
      "id": "b85e1f2c-55ec-4d08-8e61-e70df83637cb",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "appHFrk9vapCY39F1",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appHFrk9vapCY39F1/tblArXJ9YS3P4DHsp/viwhMtM3pB8gia8iK?blocks=hide",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Log: Assets Generated Event",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1408,
        512
      ],
      "id": "1f085089-88e1-4da8-85d0-4a8fa060d51c",
      "credentials": {
        "airtableTokenApi": {
          "id": "o3CA4abzed6gPpQl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Description: Calculates and logs a summary of the workflow execution.\n\nconst jobsProcessed = $items(\"Set Up Job Scope\").length;\nconst totalAssetsCreated = $items(\"Create Plan Asset Record\").length + $items(\"Create Resume Asset Record\").length + $items(\"Create Cover Letter Asset Record\").length + $items(\"Create Interview Prep Asset Record\").length + $items(\"Create Outreach Asset Record\").length;\n// Simplified cost/quality for example\nconst estimatedCost = jobsProcessed * 2.25;\n\nreturn {\n  jobsProcessed,\n  totalAssetsCreated,\n  estimatedCost,\n  executionTime: (new Date() - new Date($workflow.start_time)) / 1000 + 's'\n};"
      },
      "name": "Calculate & Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1600,
        512
      ],
      "id": "3fc3c9d0-a7e7-4d05-9816-1372e61c5920"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Jobs To Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs To Process": {
      "main": [
        [
          {
            "node": "Set Up Job Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Job Scope": {
      "main": [
        [
          {
            "node": "Build Research Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Research Prompt": {
      "main": [
        [
          {
            "node": "Call Perplexity for Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity for Research": {
      "main": [
        [
          {
            "node": "Score Research Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Research Quality": {
      "main": [
        [
          {
            "node": "Decide: Research Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Research Retry?": {
      "main": [
        [
          {
            "node": "Call Perplexity for Research (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Research Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity for Research (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Research Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Research Score": {
      "main": [
        [
          {
            "node": "Create Research Brief Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Research Brief Record": {
      "main": [
        [
          {
            "node": "Log: Research Completed Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Research Completed Event": {
      "main": [
        [
          {
            "node": "Build 90-Day Plan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 90-Day Plan Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI for 90-Day Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for 90-Day Plan": {
      "main": [
        [
          {
            "node": "Score 90-Day Plan Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score 90-Day Plan Quality": {
      "main": [
        [
          {
            "node": "Decide: Plan Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Plan Retry?": {
      "main": [
        [
          {
            "node": "Call OpenAI for Plan (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Plan Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Plan (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Plan Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Plan Score": {
      "main": [
        [
          {
            "node": "Upload Plan to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Plan to Google Drive": {
      "main": [
        [
          {
            "node": "Store Plan in Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Plan in Memory": {
      "main": [
        [
          {
            "node": "Create Plan Asset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plan Asset Record": {
      "main": [
        [
          {
            "node": "Build Resume Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Cover Letter Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Interview Prep Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Outreach Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resume Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI for Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Resume": {
      "main": [
        [
          {
            "node": "Score Resume Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Resume Quality": {
      "main": [
        [
          {
            "node": "Decide: Resume Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Resume Retry?": {
      "main": [
        [
          {
            "node": "Call OpenAI for Resume (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Resume Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Resume (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Resume Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Resume Score": {
      "main": [
        [
          {
            "node": "Upload Resume to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Resume to Google Drive": {
      "main": [
        [
          {
            "node": "Create Resume Asset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Resume Asset Record": {
      "main": [
        [
          {
            "node": "Update Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI for Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Cover Letter": {
      "main": [
        [
          {
            "node": "Score Cover Letter Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Cover Letter Quality": {
      "main": [
        [
          {
            "node": "Decide: Cover Letter Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Cover Letter Retry?": {
      "main": [
        [
          {
            "node": "Call OpenAI for Cover Letter (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Cover Letter Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Cover Letter (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Cover Letter Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Cover Letter Score": {
      "main": [
        [
          {
            "node": "Upload Cover Letter to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Cover Letter to Google Drive": {
      "main": [
        [
          {
            "node": "Create Cover Letter Asset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cover Letter Asset Record": {
      "main": [
        [
          {
            "node": "Update Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Interview Prep Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI for Interview Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Interview Prep": {
      "main": [
        [
          {
            "node": "Score Interview Prep Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Interview Prep Quality": {
      "main": [
        [
          {
            "node": "Decide: Interview Prep Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Interview Prep Retry?": {
      "main": [
        [
          {
            "node": "Call OpenAI for Interview Prep (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Interview Prep Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Interview Prep (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Interview Prep Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Interview Prep Score": {
      "main": [
        [
          {
            "node": "Upload Interview Prep to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Interview Prep to Google Drive": {
      "main": [
        [
          {
            "node": "Create Interview Prep Asset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Interview Prep Asset Record": {
      "main": [
        [
          {
            "node": "Update Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outreach Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI for Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Outreach": {
      "main": [
        [
          {
            "node": "Score Outreach Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Outreach Quality": {
      "main": [
        [
          {
            "node": "Decide: Outreach Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide: Outreach Retry?": {
      "main": [
        [
          {
            "node": "Call OpenAI for Outreach (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pick Best Outreach Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI for Outreach (Retry)": {
      "main": [
        [
          {
            "node": "Pick Best Outreach Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Outreach Score": {
      "main": [
        [
          {
            "node": "Upload Outreach to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Outreach to Google Drive": {
      "main": [
        [
          {
            "node": "Create Outreach Asset Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Outreach Asset Record": {
      "main": [
        [
          {
            "node": "Update Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Status": {
      "main": [
        [
          {
            "node": "Log: Assets Generated Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Assets Generated Event": {
      "main": [
        [
          {
            "node": "Calculate & Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14b919da-c086-4f6e-a0c6-adfd6d718e1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5948f9c81edbb36bbb89b4065c2b9c6c6d1d486f298ed64ef1ccc4bf6c1cbffb"
  },
  "id": "JG0NvdlSDTaeIySi",
  "tags": []
}
